{#

This file is part of the SymkitAdminBundle.
It's based in the SonataAdminBundle (http://sonata-project.org/bundles/admin/2-3/doc/index.html)

(c) Emiliano Viada <emjovi@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
<!DOCTYPE html>
<html {% block html_attributes %}class="no-js"{% endblock %}>
    <head>
        {% block meta_tags %}
            <meta charset="UTF-8">
            <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/symkitadmin/css/vendor/AdminLTE/AdminLTE.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/symkitadmin/css/admin.css') }}">
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
            <![endif]-->
        {% endblock %}

        <title>Admin</title>
    </head>
    
    <body {% block body_attributes %}class="skin-black"{% endblock %}>
        {% block fos_user_content %}
        {% endblock %}

        {% block javascripts %}
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
            <script src="{{ asset('bundles/symkitadmin/js/plugins/moment.js') }}"></script>
            <script src="{{ asset('bundles/symkitadmin/js/plugins/bootstrap-datetimepicker.js') }}"></script>
            <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js" type="text/javascript"></script>
            <script src="{{ asset('bundles/symkitadmin/js/plugins/datatables/jquery.dataTables.js') }}"></script>
            <script src="{{ asset('bundles/symkitadmin/js/plugins/datatables/dataTables.bootstrap.js') }}"></script>
            <script src="{{ asset('bundles/symkitadmin/js/vendor/AdminLTE/app.js') }}"></script>
            <script src="{{ asset('bundles/symkitadmin/js/vendor/multiple.select/jquery.multiple.select.js') }}"></script>
            <script src="{{ asset('bundles/symkitadmin/js/admin.js') }}"></script>
        {% endblock %}
    </body>
</html>
