{#

This file is part of the SymkitAdminBundle.
It's based in the SonataAdminBundle (http://sonata-project.org/bundles/admin/2-3/doc/index.html)

(c) Emiliano Viada <emjovi@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% set _preview      = block('preview') %}
{% set _form         = block('form') %}
{% set _show         = block('show') %}
{% set _list_table   = block('list_table') %}
{% set _list_filters = block('list_filters') %}
{% set _tab_menu     = block('tab_menu') %}
{% set _content      = block('content') %}
{% set _title        = block('title') %}
{% set _breadcrumb   = block('breadcrumb') %}
{% set _actions      = block('actions') %}
{% set _navbar_title = block('navbar_title') %}
<!DOCTYPE html>
<html {% block html_attributes %}class="no-js"{% endblock %}>
    <head>
        {% block meta_tags %}
            <meta charset="UTF-8">
            <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        {% endblock %}

        {% block stylesheets %}
            {% for stylesheet in admin_pool.getOption('stylesheets', []) %}
                <link rel="stylesheet" type="text/css"  href="{{ asset(stylesheet) }}"  />
            {% endfor %}
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
            <![endif]-->
        {% endblock %}

        <title>
            {% block sonata_head_title %}
                {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

                {% if _title is not empty %}
                    {{ _title|raw }}
                {% else %}
                    {% if action is defined %}
                        -
                        {% for menu in admin.breadcrumbs(action) %}
                            {% if not loop.first %}
                                {%  if loop.index != 2 %}
                                    &gt;
                                {% endif %}

                                {{ menu.label }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif%}
            {% endblock %}
        </title>
    </head>
    
    <body {% block body_attributes %}class="skin-black"{% endblock %}>
        {% if app.request.attributes.get('_route') == 'sonata_user_admin_security_login' %}
            {% if _content is not empty %}
                {{ _content|raw }}
            {% endif %}
        {% else %}

            <!-- Header -->
            {{ include('SymkitAdminBundle::symkit_admin_header.html.twig') }}

            {% block sonata_wrapper %}
                <div class="wrapper row-offcanvas row-offcanvas-left">

                    {% block sonata_left_side %}
                        <aside class="left-side sidebar-offcanvas">
                            <section class="sidebar">
                                {% block sonata_side_nav %}
                                    <div class="user-panel">
                                        <div class="pull-left info">
                                            <p>{{ 'hello' | trans({}, "SymkitAdminBundle") }}, {{ app.user }}</p>
                                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                                        </div>
                                    </div>
                                    {% block sonata_sidebar_search %}
                                        {% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
                                            <form action="{{ url('sonata_admin_search') }}" method="GET" class="sidebar-form" role="search">
                                                <div class="input-group custom-search-form">
                                                    <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}" required="required">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-flat search-btn" type="submit">
                                                                <i class="fa fa-search"></i>
                                                            </button>
                                                        </span>
                                                </div>
                                            </form>
                                        {% endif %}
                                    {% endblock sonata_sidebar_search %}

                                    {% block side_bar_before_nav %} {% endblock %}
                                    {% block side_bar_nav %}
                                        {% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
                                            <ul class="sidebar-menu">
                                                {% for group in admin_pool.dashboardgroups %}
                                                    {% set display = (group.roles is empty or is_granted('ROLE_SUPER_ADMIN') ) %}
                                                    {% for role in group.roles if not display %}
                                                        {% set display = is_granted(role) %}
                                                    {% endfor %}

                                                    {# Do not display the group label if no item in group is available #}
                                                    {% set item_count = 0 %}
                                                    {% if display %}
                                                        {% for admin in group.items if item_count == 0 %}
                                                            {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                                                {% set item_count = item_count+1 %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}

                                                    {% if display and (item_count > 0) %}
                                                        {% set active = false %}
                                                        {% for admin in group.items %}
                                                            {% if admin.hasroute('list') and admin.isGranted('LIST') and app.request.get('_sonata_admin') == admin.code %}
                                                                {% set active = true %}
                                                            {% endif %}
                                                        {% endfor %}
                                                        <li class="treeview{% if active %} active{% endif %}">
                                                            <a href="#">
                                                                {% if group.icon|default() %}{{ group.icon|raw }}{% endif %}
                                                                <span>{{ group.label|trans({}, group.label_catalogue) }}</span>
                                                                <i class="fa pull-right fa-angle-left"></i>
                                                            </a>
                                                            <ul class="treeview-menu{% if active %} active{% endif %}">
                                                                {% for admin in group.items %}
                                                                    {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                                                        <li{% if app.request.get('_sonata_admin') == admin.code %} class="active"{% endif %}><a href="{{ admin.generateUrl('list')}}"><i class="fa fa-angle-double-right"></i> {{ admin.label|trans({}, admin.translationdomain) }}</a></li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endblock side_bar_nav %}
                                    {% block side_bar_after_nav %}{% endblock %}
                                {% endblock sonata_side_nav %}
                            </section>
                        </aside>
                    {% endblock sonata_left_side %}

                    <aside class="right-side">
                        {% block sonata_page_content %}
                            <section class="content-header">
                                {% block sonata_page_content_header %}
                                    <h1>
                                        {% block page_title %}{% endblock page_title %}
                                    </h1>
                                    {% block sonata_breadcrumb %}
                                        {% if _breadcrumb is not empty or action is defined %}
                                            <ol class="breadcrumb">
                                                {% if _breadcrumb is empty %}
                                                    {% if action is defined %}
                                                        
                                                        {% for menu in admin.breadcrumbs(action) %}
                                                            {% if not loop.last  %}
                                                                <li>
                                                                    {% if menu.uri is not empty %}
                                                                        <a href="{{ menu.uri }}">{{ menu.label|raw }}</a>
                                                                    {% else %}
                                                                        {{ menu.label }}
                                                                    {% endif %}
                                                                </li>
                                                            {% elseif loop.index == 3 %}
                                                                <li class="active"><span>{{ action|capitalize }}</span></li>
                                                            {% else %}
                                                                <li class="active"><span>{{ menu.label }}</span></li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% else %}
                                                    {{ _breadcrumb|raw }}
                                                {% endif %}
                                            </ol>
                                        {% endif %}
                                    {% endblock sonata_breadcrumb %}
                                    {% block sonata_page_content_nav %}
                                        {% if _tab_menu is not empty or _actions is not empty %}
                                            <nav class="navbar navbar-default mbn mtd" role="navigation">
                                                {% block tab_menu_navbar_header %}
                                                    {% if _navbar_title is not empty %}
                                                        <div class="navbar-header">
                                                            <span class="navbar-brand">{{ _navbar_title|raw }}</span>
                                                        </div>
                                                    {% endif %}
                                                {% endblock %}
                                                <div class="container-fluid">
                                                    <div class="navbar-left">
                                                        {% if _tab_menu is not empty %}
                                                            {{ _tab_menu|raw }}
                                                        {% endif %}
                                                    </div>

                                                    {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
                                                        <ul class="nav navbar-nav navbar-right">
                                                            <li class="dropdown sonata-actions">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'link_actions'|trans({}, 'SonataAdminBundle') }} <b class="caret"></b></a>
                                                                <ul class="dropdown-menu" role="menu">
                                                                    {{ _actions|raw }}
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            </nav>
                                        {% endif %}
                                    {% endblock sonata_page_content_nav %}

                                {% endblock sonata_page_content_header %}
                            </section>

                            <section class="content">
                                {% block sonata_admin_content %}

                                    {% block notice %}
                                        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
                                    {% endblock notice %}

                                    {% if _preview is not empty %}
                                        <div class="sonata-ba-preview">{{ _preview|raw }}</div>
                                    {% endif %}

                                    {% if _content is not empty %}
                                        <div class="sonata-ba-content">{{ _content|raw }}</div>
                                    {% endif %}

                                    {% if _show is not empty %}
                                        <div class="sonata-ba-show">{{ _show|raw }}</div>
                                    {% endif %}

                                    {% if _form is not empty %}
                                        <div class="sonata-ba-form">{{ _form|raw }}</div>
                                    {% endif %}

                                    {% if _list_table is not empty or _list_filters is not empty %}
                                        <div class="row">
                                            {% if _list_filters|trim %}
                                                <div class="sonata-ba-filter col-md-12">
                                                    {{ _list_filters|raw }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="row">
                                            <div class="sonata-ba-list col-md-12">
                                                {{ _list_table|raw }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endblock sonata_admin_content %}
                            </section>
                        {% endblock sonata_page_content %}
                    </aside>

                </div>
            {% endblock sonata_wrapper %}

        {% endif %}

        {% block javascripts %}
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
            <script src="{{ asset('bundles/symkitadmin/js/plugins/moment.js') }}"></script>
            <script src="{{ asset('bundles/symkitadmin/js/plugins/bootstrap-datetimepicker.js') }}"></script>
            <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js" type="text/javascript"></script>
            <script src="{{ asset('bundles/symkitadmin/js/plugins/datatables/jquery.dataTables.js') }}"></script>
            <script src="{{ asset('bundles/symkitadmin/js/plugins/datatables/dataTables.bootstrap.js') }}"></script>
            <script src="{{ asset('bundles/symkitadmin/js/vendor/AdminLTE/app.js') }}"></script>
            <script src="{{ asset('bundles/symkitadmin/js/vendor/multiple.select/jquery.multiple.select.js') }}"></script>
            <script src="{{ asset('bundles/symkitadmin/js/vendor/select2/select2.min.js') }}"></script>
            <script src="{{ asset('bundles/symkitadmin/js/plugins/bootstrap3-wysihtml5.all.min.js') }}"></script>
            <script src="{{ asset('bundles/symkitadmin/js/admin.js') }}"></script>
        {% endblock %}

    </body>
</html>
