<!-- Menu Footer-->
<li class="user-body">
    <div class="col-xs-12 text-left">
        {{ 'profile.last_login' | trans({}, "SymkitAdminBundle") }}: {{ app.user.lastLogin.format('Y-m-d H:i:s') }}
    </div>
</li>
<li class="user-footer">
    <div class="pull-left">
        <!--<a href="#" class="btn btn-default btn-flat">Profile</a>--> 
    </div>
    <div class="pull-right">
        <a href="{{ path('symkit_admin_logout') }}" class="btn btn-default btn-flat">{{ 'link_logout' | trans({}, "SymkitAdminBundle") }}</a>
    </div>
</li>
