{% extends base_template %}
{% block body_attributes %}
class="bg-black"
{% endblock %}

{% block content %}
    <div class="form-box" id="login-box">
        <div class="header">{{ 'security.login'|trans({}, 'SymkitAdminBundle') }}</div>
        <form action="{{ path("sonata_user_admin_security_check") }}" method="post">

            {% if error %}
                <div class="alert alert-error">{{ error|trans({}, 'SonataUserBundle') }}</div>
            {% endif %}

            <div class="body bg-gray">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="form-group">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="{{ 'security.login.username'|trans({}, 'SymkitAdminBundle') }}" />
                </div>

                <div class="form-group">
                    <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans({}, 'SymkitAdminBundle') }}" />
                </div>

                <div class="form-group">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label class="remember_me" for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                </div>
            </div>

            <div class="footer">
                <input type="submit" class="btn bg-olive btn-block" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                <p><a href="{{ path("sonata_user_resetting_request") }}">{{ 'security.login.forgot_password'|trans({}, 'SymkitAdminBundle') }}</a></p>
                <!--<a href="register.html" class="text-center">Register a new membership</a>-->
            </div>
        </form>

        <!--<div class="margin text-center">
            <span>Sign in using social networks</span>
            <br/>
            <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
            <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
            <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>
        </div>-->

    </div>
{% endblock content %}
